body {
  position: relative;
  width: 1440px;
  height: 871px;
  background: #efefef;
}

.circle{
  margin: 15px;
  box-sizing: border-box;
  border: 1px solid red;
  position: absolute;
  width: 197px;
  height: 197px;
  border-radius: 100px;
  opacity: 0.2;
}

.circle1 {
  left: 0px;
  top: 390px;  
  border: 40px solid #50bfa5;
 
}

.circle2 { 
  left: 244px;
  top: -98px;
  border: 40px solid #6dd400;
}

.circle3 {
  left: 1243px;
  top: 337px;
  border: 40px solid #878787;
}

.circle4 {
  left: 392px;
  top: 773px;
  border: 40px solid #50bfa5;
  border-radius: 100px;
}
